.Container
{
display: flex;
flex-direction: column;
}

.Child1
{
    background-color: brown;
    width: 100%;
    height: 120px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;    
    padding-top: 65px;
}

a{
    text-decoration: none;
    color: green;
    margin: 5px;
}


.NavContainer
{
    display: flex;
    gap: 1rem;
    background-color: burlywood;
    justify-content: center;
    font-weight: bold;
}

.BrownFont
{
    color: brown;
}


.Child2
{
    width: 100%;
    height: 350px;
    background-color: burlywood;
    font-size: 32px;    
    padding-top: 10px;
}


