* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  border: 10px solid goldenrod;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: white;
}

.box:nth-child(1) { background-color: green; }
.box:nth-child(2) { background-color: yellow; color: black; }
.box:nth-child(3) { background-color: purple; }
.box:nth-child(4) { background-color: gray; }
.box:nth-child(5) { background-color: blue; }
.box:nth-child(6) { background-color: orange; }
.box:nth-child(7) { background-color: pink; color: white; }
.box:nth-child(8) { background-color: red; }
.box:nth-child(9) { background-color: brown; }
