    .MainContainer {
      display: grid;
      grid-template-areas: "header header"
      "main sidebar"
      "footer footer";
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 80px 300px 100px ;
      gap: 10px;
      height: 100vh;
      padding: 10px;
      box-sizing: border-box;
    }

    .header {
      background-color:black;
      grid-column: 1/3;
    }


    .MainItem {
      background-color: orange;
    }

    .SideBar
    {
        background-color: green;
        grid-area: sidebar;
    }
    .footer {
      background-color: blue;
      grid-area: footer;
    }