*
{
    font-family: Arial, Helvetica, sans-serif;
}

.MainContainer
{
    display: flex;
    border: none;
    justify-content: center;
    border-radius: 20px;
    width: 40%;
    background-color: rgb(121, 121, 236);

    margin: 100px auto;
}

.Form-Container h2
{
    text-align: center;
    
    color: white;
}


.Form-Container
{
  padding: 30px 40px;
  width: 320px;
  margin: 5px;
}

input
{
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 6px;
  margin-bottom: 12px;

}

textarea
{
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 6px;
  margin-bottom: 12px;
}

button
{
    color: white;
    background-color: blue;
    padding: 10px;
    width: 80px;
    border: none;
    border-radius: 6px;
}