body {
  font-family: Arial, sans-serif;
  margin: 30px;
  line-height: 1.6;
}


.fixed-image {
position: fixed;
    right: 5px;
    top: 100px;
    width: 100px;
    height: 280px;
    background-image: url(Image.jpg);
    background-size: contain;
    background-position: center;

}
